@model Project.Models.Day27.ViewModel
<style>
  [v-cloak] {
    display: none;
  }
</style>

<p>Day27/Case01</p>

<div id="app" v-cloak>
    <form autocomplete="off"
          v-on:submit.prevent="submit_form">
        <p>
            <label for="OrderDate">訂單日期</label>
            <jquery-ui-date-picker
                v-model="vue_model.OrderDate"
                v-bind:id="'OrderDate'"
                v-bind:date_format="'yy-mm-dd'"
            ></jquery-ui-date-picker>
        </p>
        <div>
            <label>訂單項目</label>
            <table>
                <thead>
                <tr>
                    <th>
                        <label>項目</label>
                    </th>
                    <th>
                        <label>單價</label>
                    </th>
                    <th>
                        <label>數量</label>
                    </th>
                    <th>
                        <label>金額</label>
                    </th>
                    <th>
                        <button type="button"
                                v-on:click="add_item">
                            新增
                        </button>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item, index) in vue_model.Items"
                    v-bind:key="index">
                    <td>
                        <jquery-ui-select-menu
                            v-model="item.OrderItemId"
                            v-bind:id="'select-menu-'+index"
                            v-bind:options="order_items"
                            v-bind:width=200
                        ></jquery-ui-select-menu>
                    </td>
                    <td>
                        <input type="number"
                               step=1
                               min=0
                               v-on:blur="calculate()"
                               v-model="item.UnitPrice" />
                    </td>
                    <td>
                        <input type="number"
                               step=1
                               min=0
                               v-on:blur="calculate()"
                               v-model="item.Quantity" />
                    </td>
                    <td>
                        {{ item.Amount }}
                    </td>
                    <td>
                        <button type="button"
                                v-on:click="del_item(index)">
                            刪除
                        </button>
                    </td>
                </tr>

                </tbody>
            </table>

            <p>
                <label>小計：{{ vue_model.SubTotalAmount }}</label>
            </p>
            <p>
                <label>稅金：{{ vue_model.Tax }}</label>
            </p>
            <p>
                <label>總計：{{ vue_model.TotalAmount }}</label>
            </p>

        </div>
        <p>
            <button type="submit">送出</button>
        </p>
    </form>
    <p>
        <a v-bind:href="prev_url">回上一層</a>
    </p>
</div>

@section Scripts
{
    <partial name="_Antiforgery" />
    <script src="/lib/CustomFetch.js?20210608001"></script>
    <script>
      const app = createApp({
        setup(){

          const post_url = '@Url.Action("PostCase01")';
          const prev_url = '@Url.Action("Index", "Home")';
          const calculate_url = '@Url.Action("Calculate")';

          const vue_model = ref(@Html.Raw(Model.ToJson()));
          const empty_item = @(Html.Raw(ViewBag.EmptyItemJson));
          const order_items = @(Html.Raw(ViewBag.OrderItemsJson));

          const add_item = function() {
              const cloned_empty_item = JSON.parse(JSON.stringify(empty_item));
              vue_model.value.Items?.push(cloned_empty_item);
          }

          const del_item = function(index) {
              vue_model.value.Items?.splice(index, 1);
              calculate();
          }

          const calculate = function () {
              CustomFetch.PostJson(calculate_url, vue_model.value)
                         .then(data => vue_model.value = data);
          }

          const submit_form = function() {
              CustomFetch.PostJson(post_url, vue_model.value)
                         .then(data => vue_model.value = data);
          }

          return {
              post_url,
              prev_url,

              vue_model,
              order_items,

              calculate,
              add_item,
              del_item,
              submit_form,
          }
        }
      });
    </script>
    <script src="/lib/jquery-ui-select-menu.js?20210608001"></script>
    <script src="/lib/jquery-ui-date-picker.js?20210608001"></script>
    <script>
      app.component("jquery-ui-select-menu", jquery_ui_select_menu);
      app.component("jquery-ui-date-picker", jquery_ui_date_picker);

      const vm = app.mount('#app');
    </script>
}
